# Auto detect text files and perform LF normalization
* text=auto
*.java text eol=lf

# Force Git to keep the line endings in the eclipse Folder as they were distributed
*.prefs eol=lf
*.launch eol=lf
*.xml eol=lf
